[submodule "particle-ds18x20"]
	path = particle-ds18x20
	url = https://github.com/MORA99/particle-ds18x20.git
[submodule "particle_ssdp_server"]
	path = particle_ssdp_server
	url = https://github.com/smpickett/particle_ssdp_server.git
[submodule "particle-MQTT"]
	path = particle-MQTT
	url = https://github.com/hirotakaster/MQTT.git
[submodule "particle-SparkJson"]
	path = particle-SparkJson
	url = https://github.com/menan/SparkJson.git
